
@{
    ViewBag.Title = "Add New Item";
}

<section class="container">
    <div class="card col-md-6 mx-auto mb-5">
        <div class="card-header">
            Add New Item
        </div>
        <div class="card-body">
            @if(ViewBag.Success != null) {
                <div class="alert alert-success">
                    @ViewBag.Success
                </div>
            }

            @if(ViewBag.Error != null) {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            <form method="post" action="@Url.Action("AddNewItem", "Home")">
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Item No</label>
                    <div class="col-sm-8">
                        <input type="number" name="Item_No" class="form-control" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Item Name</label>
                    <div class="col-sm-8">
                        <input type="text" name="Item_Name" class="form-control" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Category</label>
                    <div class="col-sm-8">
                        <input type="text" name="Category" class="form-control" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Brand</label>
                    <div class="col-sm-8">
                        <input type="text" name="Brand" class="form-control" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Retail Price</label>
                    <div class="col-sm-8">
                        <input type="number" name="Retail_Price" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Cost Price</label>
                    <div class="col-sm-8">
                        <input type="number" name="Cost_Price" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Threshold Quantity</label>
                    <div class="col-sm-8">
                        <input type="number" name="Threshhold_Quantity" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Quantity</label>
                    <div class="col-sm-8">
                        <input type="number" name="Quantity" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</section>

