@{
    ViewBag.Title = "MakeSales";
}

<section class="container">
    <div class="modal fade" id="barcode-scan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scan Products</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="barcode-scan-area"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @* Search Item *@
            <div class="card">
                <div class="card-header">Search Item</div>
                <div class="card-body">
                    <form method="post" action="@Url.Action("SearchItem", "WebApi")" id="search-item">
                        <div class="input-group">
                            <input type="number" name="itemNo" class="form-control" placeholder="Item No" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#barcode-scan">Scan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @* Show Searched Item *@
            <div class="card">
                <div class="card-header">
                    Total Bill
                </div>
                <div class="card-body">
                    Total Bill: <b id="bill">0</b>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            @* Add Items *@
            <div class="card">
                <div class="card-header">Products</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-light">
                                <th scope="col">#</th>
                                <th scope="col">Item No</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Retail Price</th>
                                <th scope="col">Product Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="items"></tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" id="calculate">Calculate Bill</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        var items = []

        function searchItem(itemNo) {
            $.ajax({
                url: "/api" + $(this).attr("action") + "?itemNo=" + itemNo,
                type: $(this).attr("method"),
                contenttype: "json",
                success: function (res) {
                    var found = items.find(i => i.Item_No == res.Item_No)

                    if (found) {
                        alert("This item already exists.");
                        return;
                    }

                    items.push(res)

                    var el = `<tr>
                            <th scope="row">${items.length}</th>
                            <td>${res["Item_No"]}</td>
                            <td>${res["Item_Name"]}</td>
                            <td>${res["Retail_Price"] ?? 0}</td>
                            <td><input value="0" type="number" min="0" data-quantity class="form-control" /></td>
                            <td>0</td>
                            <td><button class="btn btn-danger">Delete</button></td>
                        </tr>`;

                    $("#items").append(el)

                    $("#items input").each(function () {
                        $(this).on('keyup', function (e) {
                            e.stopPropagation()
                            var itemNo = $(this).parent().parent().children().first().next().html()
                            var quantity = parseFloat($(this).val())
                            var price = parseInt($(this).parent().prev().html())
                            var totalElement = $(this).parent().next()

                            var item = items.find(i => i.Item_No == itemNo)

                            if (quantity > item.Quantity) {
                                alert("Quantity cannot be greater than item's quantity");
                                return
                            }

                            var total = price * quantity;

                            totalElement.html(total)

                            item.saleQuantity = quantity
                            item.totalPrice = total;
                        })
                    })

                    $("#items button").each(function () {
                        $(this).on('click', function (e) {
                            e.stopPropagation()
                            var itemNo = $(this).parent().parent().children().first().next().html()
                            items = items.filter(i => i.Item_No != itemNo)
                            $(this).parent().parent().remove()
                        })
                    })
                },
                error: function (err) {
                    alert("This item does not exist")
                }
            })
        }

        $("#search-item").on('submit', function (e) {
            e.preventDefault()

            var data = {}

            $.each($(this).serializeArray(), function (i, field) {
                data[field.name] = field.value
            })

            searchItem(data["itemNo"])
        })

        $("#calculate").on('click', function (e) {
            var total = items.reduce((t, i) => t + i.totalPrice, 0)
            $("#bill").html(total);

            var saleDetail = items.map(i => ({
                Saleperson: "@Session["U_Name"]",
                Item_No: i.Item_No,
                Item_Quantity: i.saleQuantity,
                Price: i.Retail_Price,
                Sale_Date: new Date()
            }))

            console.log(saleDetail)

            $.ajax({
                url: "/api/WebApi/MakeSale",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(saleDetail),
                success: function (res) {
                    alert("Sale Added");
                    window.location = window.location;
                },
                error: function (err) {
                    alert("Failed to make sale.")
                }
            })
        })


        //BAR CODE SCANNER CODE               
        var barcodeScanEl = document.getElementById('barcode-scan')

        Quagga.onDetected(function (result) {
            var code = result.codeResult.code;

            console.log(code)
            searchItem(code)

            bootstrap.Modal.getInstance(barcodeScanEl).hide()

            Quagga.stop()
        });         

        barcodeScanEl.addEventListener('hide.bs.modal', function (event) {
            Quagga.stop()
        })

        barcodeScanEl.addEventListener('show.bs.modal', function (event) {
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: document.querySelector('#barcode-scan-area'),
                },
                decoder: {
                    readers: ["ean_reader"]
                }
            }, function (err) {
                if (err) {
                    console.log(err)
                    return
                }
                    console.log("Initialization finished. Ready to start")
                    Quagga.start()
            })            
        })          
    </script>
}