
@{
    ViewBag.Title = "Stock Report";
}

<section class="container">
    <div class="card col-md-6 mx-auto mb-5">
        <div class="card-header">
            Stock Report
        </div>
        <div class="card-body">
            @if(ViewBag.Success != null) {
                <div class="alert alert-success">
                    @ViewBag.Success
                </div>
            }

            @if(ViewBag.Error != null) {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            <form method="post" action="@Url.Action("StockReport", "Home")">
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">From</label>
                    <div class="col-sm-8">
                        <input name="from" type="date" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">To</label>
                    <div class="col-sm-8">
                        <input name="to" type="date" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Item No</label>
                    <div class="col-sm-8">
                        <input name="code" type="number" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-success">Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

